body{

  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  }
  h1{
    font-size: 90px;
    margin: 50 auto 0;auto
    padding-top:  100px;
    font-family: 'Sacramento', cursive;
  }
  h2{
    font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  }

  h3{
  font-family: 'Montserrat', sans-serif;
  }

.top-container{
  position: relative;
  padding-top:  100px;
}

.middle-container{

}

.bottom-container{

}

.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}

.bottom-cloud{
position: absolute;
left: 300px;
bottom: 300px;
}
div{
  background-color: #e1f2fb
}

.btn {
  background: #00385e;
  background-image: -webkit-linear-gradient(top, #00385e, #089dfa);
  background-image: -moz-linear-gradient(top, #00385e, #089dfa);
  background-image: -ms-linear-gradient(top, #00385e, #089dfa);
  background-image: -o-linear-gradient(top, #00385e, #089dfa);
  background-image: linear-gradient(to bottom, #00385e, #089dfa);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #136496;
  background-image: -webkit-linear-gradient(top, #136496, #0c456b);
  background-image: -moz-linear-gradient(top, #136496, #0c456b);
  background-image: -ms-linear-gradient(top, #136496, #0c456b);
  background-image: -o-linear-gradient(top, #136496, #0c456b);
  background-image: linear-gradient(to bottom, #136496, #0c456b);
  text-decoration: none;
}

